@model SAS.Models.ViewModels.SASViewModels.AreaVM

@{
    ViewData["Title"] = "Area";
}
<div class="loaderBar"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row pt-2">
            <div class="col-xl-12">
                <h1 class="text-center font-weight-bold">@ViewData["Title"]</h1>
                <hr />
                <p>@ViewData["Message"]</p>
                <form asp-action="Create" id="mainForm" data-parsley-validate>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-xl-2" hidden="hidden">
                            <div class="form-group">
                                <label asp-for="ID" class="control-label"></label>
                                <input asp-for="ID" class="form-control form-control-sm" />
                                <span asp-validation-for="ID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label asp-for="Nm" class="control-label"></label>
                                <input asp-for="Nm" class="form-control form-control-sm"  required="required" />
                                <span asp-validation-for="Nm" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label asp-for="StartLat" class="control-label"></label>
                                <input asp-for="StartLat" class="form-control form-control-sm" data-parsley-validation-threshold="1" data-parsley-trigger="keyup" data-parsley-type="number" required="required" />
                                <span asp-validation-for="StartLat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label asp-for="StartLng" class="control-label"></label>
                                <input asp-for="StartLng" class="form-control form-control-sm" data-parsley-validation-threshold="1" data-parsley-trigger="keyup" data-parsley-type="number" required="required" />
                                <span asp-validation-for="StartLng" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label asp-for="EndLat" class="control-label"></label>
                                <input asp-for="EndLat" class="form-control form-control-sm" data-parsley-validation-threshold="1" data-parsley-trigger="keyup" data-parsley-type="number" required="required" />
                                <span asp-validation-for="EndLat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="form-group">
                                <label asp-for="EndLng" class="control-label"></label>
                                <input asp-for="EndLng" class="form-control form-control-sm" data-parsley-validation-threshold="1" data-parsley-trigger="keyup" data-parsley-type="number" required="required" />
                                <span asp-validation-for="EndLng" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-2" hidden="hidden">
                            <div class="form-group">
                                <label asp-for="SASChurchPartnerID" class="control-label"></label>
                                <input asp-for="SASChurchPartnerID" class="form-control form-control-sm" />
                                <span asp-validation-for="SASChurchPartnerID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <div class="form-group">
                                <label asp-for="Colour" class="control-label"></label>
                                <br />
                                @*<input type="color" id="favcolor" name="favcolor" value="#ff0000">*@
                                <input type="color" id="Colour" name="Colour" value="">
                                <span asp-validation-for="Colour" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <button type="button" onclick="submitForm();" id="btnSubmitForm" class="btn btn-sm btn-primary">Create</button>
                            <a asp-action="Index" class="btn btn-sm btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Areas List</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="display table table-striped table-borderless w-100" id="areasTable">
                            <thead>
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        Start Lat
                                    </td>
                                    <td>
                                        Start Lng
                                    </td>
                                    <td>
                                        End Lat
                                    </td>
                                    <td>
                                        End Lng
                                    </td>
                                   @* <td>
                                        SAS Church Partner ID
                                    </td>*@
                                    <td>
                                        Colour
                                    </td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        function validateMainForm() {

            if ($('#mainForm').parsley().validate()) {
                return true;
            } else {
                $.notify("Some fields are required.", { position: "top right", className: "error" });
                return false;
            }

        }

        function submitForm() {
            if (validateMainForm()) {

                $(".loaderBar").fadeIn("slow");
                let myform = document.getElementById("mainForm");
                // Serializing the whole form data to submit
                let fd = new FormData(myform);
                let url = "";
                if ($("#btnSubmitForm").text() == "Create")
                    url = '@Url.Action("Create", "Area")'
                else if ($("#btnSubmitForm").text() == "Update")
                    url = '@Url.Action("UpdateArea", "Area")'
                $.ajax({
                    url: url,
                    data: fd,
                    cache: false,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (data) {

                        if (data.success) {

                            $(".loaderBar").fadeOut("slow");
                            if (data.success != false) {
                                $.notify(data.message, { globalPosition: "top right", className: data.flag });
                                //Refresh the form controls for next record
                                $("#mainForm").trigger("reset");
                                $("#btnSubmitForm").text("Create");
                                //Loading the Grid Records
                                getAreasTableRecords();
                                //reload the page after 1 second
                                //Sleep for 1 seconds and then redirect to home
                                //setTimeout(function () { location.reload(); }, 1000);

                            }
                            else
                                $.notify(data.message, { globalPosition: "top right", className: data.flag });

                        }
                    }
                });
            }
        }

        function EditArea(areaID) {

            $(".loaderBar").fadeIn("slow");
            $.ajax({
                url: '@Url.Action("EditArea", "Area")',
                data: { id: areaID },
                cache: false,
                type: 'POST',
                success: function (data) {

                    if (data.success) {

                        $(".loaderBar").fadeOut("slow");
                        if (data.success != false) {

                            //Settings the controls values
                            $("#ID").val(data.data.id);
                            $("#Nm").val(data.data.nm);
                            $("#StartLat").val(data.data.startLat);
                            $("#StartLng").val(data.data.startLng);
                            $("#StartLng").val(data.data.startLng);
                            $("#EndLat").val(data.data.endLat);
                            $("#EndLng").val(data.data.endLng);
                            $("#SASChurchPartnerID").val(data.data.sASChurchPartnerID);
                            $("#Colour").val(data.data.colour);
                            $("#btnSubmitForm").text("Update");
                            //console.log(data);

                        }
                        else
                            $.notify(data.message, { globalPosition: "top right", className: data.flag });

                    }
                }
            });
        }

        function Delete(id) {

            $.confirm({
                title: 'Delete',
                content: 'Are you sure to delete this record?',
                icon: 'fa fa-question-circle-o',
                theme: 'supervan',
                closeIcon: true,
                animation: 'scale',
                type: 'orange',
                buttons: {
                    cancel: {
                        text: 'Cancel',
                        btnClass: 'btn-blue',
                        keys: ['esc'],
                        action: function () {

                            $(".loaderBar").fadeOut("slow");
                        }
                    },
                    confirm: {
                        text: 'Delete',
                        btnClass: 'btn-red',
                        keys: ['enter', 'shift'],
                        action: function () {

                            $(".loaderBar").fadeIn("slow");
                            $.ajax({

                                type: "POST",
                                url: '@Url.Action("DeleteArea", "Area")?id=' + id,
                                success: function (data) {

                                    if (data.success) {
                                        $(".loaderBar").fadeOut("slow");
                                        $.notify("Deleted Successfully", { globalPosition: "top right", className: "success" });
                                        //Loading the Grid Records
                                        getAreasTableRecords();
                                    }
                                },
                                error: function () { alert('Error:'); $(".loaderBar").fadeOut("slow"); }
                            });
                            //reload the page after 1 second
                            //Sleep for 1 seconds and then redirect to home
                            //setTimeout(function () { location.reload(); }, 1000);
                        }
                    }
                }
            });

        }

        function getAreasTableRecords() {
            $('#areasTable').DataTable().destroy();
            $.fn.dataTable.ext.errMode = 'none';    //Suppressing Warnings in DataTables
            dataTableReceipt = $("#areasTable").DataTable(
                {
                    "processing": true, // for show progress bar
                    //"serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "initComplete": function (settings, json) {

                        //console.log(json);
                    },
                    "pageLength": 10,
                    "ajax": {
                        //"url": '/Area/GetAllAreasInJson/,
                        "url": "@Url.Action("GetAllAreasInJson", "Area")",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "nm", width: '', class: '' },
                        { "data": "startLat", width: '', class: '' },
                        { "data": "startLng" },
                        { "data": "endLat", width: '', class: '' },
                        { "data": "endLng", width: '', class: '' },
                        //{ "data": "sASChurchPartnerID", width: '', class: '' },
                        { "data": "colour", width: '', class: '' },
                        {
                            "data": null, width: '', class: '',
                            "render": function (data, type, full, meta) {
                                var id = full["id"];
                                return "<a class='btn btn-sm btn-warning' id='btnEditArea' title='Edit' onclick='EditArea(\"" + id + "\")'><i class='fas fa-edit'> </i> </a> <a class='btn btn-sm btn-danger' id='btnDeleteArea' title='Delete' onclick='Delete(\"" + id + "\")'><i class='fas fa-trash'> </i> </a>"
                            },
                            "orderable": false,
                            "searchable": false
                        }
                    ],
                    "order": [[0, "asc",]],
                    "dom": 'lfrtBip',
                    "buttons": [
                        {
                            extend: 'copy',
                            messageTop: '\n ',
                            messageBottom: '\n ',
                            exportOptions: {
                                columns: ':visible'
                                //columns: [0, 1, 2, 3, 4, 5, 6]
                            },
                            text: '<i class="fa fa-clone"></i> Copy'
                        },
                        {
                            extend: 'excel',
                            messageTop: '\n ',
                            messageBottom: '\n ',
                            exportOptions: {
                                columns: ':visible'
                                //columns: [0, 1, 2, 3, 4, 5, 6]
                            },
                            text: '<i class="fa fa-file-excel-o"></i> Excel'
                        },
                        {
                            extend: 'csv',
                            messageTop: '\n ',
                            messageBottom: '\n ',
                            exportOptions: {
                                columns: ':visible'
                                //columns: [0, 1, 2, 3, 4, 5, 6]
                            },
                            text: '<i class="fa fa-file"></i> CSV'
                        },
                        {
                            extend: 'pdf',
                            messageTop: '\n ',
                            messageBottom: '\n ',
                            exportOptions: {
                                columns: ':visible'
                                //columns: [0, 1, 2, 3, 4, 5, 6]
                            },
                            text: '<i class="fa fa-file-pdf-o"></i> PDF'
                        },
                        {
                            extend: 'print',
                            messageTop: '<br> ',
                            messageBottom: '<br> ',
                            exportOptions: {
                                columns: ':visible'
                                //columns: [0, 1, 2, 3, 4, 5, 6]
                            },
                            text: '<i class="fa fa-print"></i> Print'
                        },
                        'colvis'
                    ],
                    responsive: true
                });
        }
    </script>

    <script>
        $(document).ready(function () {

            getAreasTableRecords();
        });
    </script>
}